
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
	<%= render "layouts/navbar",  title: 'Login',  login: false, logout: false, home: true %>
	</head>



	<body>
          <div class="container">
          	<%= render 'form' %>
          </div>
	</body>


<!--%= link_to 'Back', user_sessions_path %-->
